<?xml version = "1.0"?>

<launch>
	<node pkg = "final_assignment" type = "wall_follow_service_m.py" name = "wall_follower"/>
	<node pkg = "triglia_final_assignment" type = "random_service" name = "random_service"/>
	<node pkg = "triglia_final_assignment" type = "interface.py" name = "interface" output = "screen"/>
</launch>	
